.Collect {
  width: inherit;
  margin-bottom: 80px;

  &-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &-date,
  &-type,
  &-time,
  &-feeling {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    background-color: rgb(234, 248, 255);
    border: 3px dotted rgb(0, 52, 249);
    border-radius: 50px;
    margin-bottom: 10px;
    padding: 15px;
    font-family: "dalmoori";
    font-size: 15px;

    &:hover {
      background-color: rgb(0, 52, 249);
      color: rgb(234, 248, 255);
    }
    &:focus {
      outline: none;
    }
  }

  &-button {
    width: 300px;
    background-color: white;
    border: 1px solid rgb(64, 0, 128);
    border-radius: 50px;
    margin-top: 30px;
    padding: 15px 0px;
    font-family: "dalmoori";
    font-size: 18px;

    &:hover {
      background-color: rgb(64, 0, 128);
      color: white;
    }
  }
}

select {
  -webkit-appearance: none; /* for chrome */
  -moz-appearance: none; /*for firefox*/
  appearance: none;
}

select::-ms-expand {
  display: none; /*for IE10,11*/
}
