@mixin flexCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Collect {
  width: 100%;
  margin-bottom: 80px;

  &-form {
    @include flexCenter();
    flex-direction: column;
  }

  &-date,
  &-type,
  &-time,
  &-feeling {
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(234, 248, 255);
    border: 3px dotted rgb(0, 52, 249);
    border-radius: 50px;
    margin-bottom: 10px;
    padding: 1.5rem;
    font-family: "dalmoori";
    text-align: center;
    font-size: 1.5rem;

    option {
      font-size: 1.5rem;
    }

    &:hover {
      background-color: rgb(0, 52, 249);
      color: rgb(234, 248, 255);
    }
    &:focus {
      outline: none;
    }
  }

  &-button {
    width: 300px;
    background-color: white;
    border: 1px solid rgb(64, 0, 128);
    border-radius: 5rem;
    margin-top: 3rem;
    padding: 15px 0px;
    font-family: "dalmoori";
    font-size: 1.8rem;

    &:hover {
      background-color: rgb(64, 0, 128);
      color: white;
    }
  }
}

select {
  -webkit-appearance: none; /* for chrome */
  -moz-appearance: none; /*for firefox*/
  appearance: none;
}

select::-ms-expand {
  display: none; /*for IE10,11*/
}
