@mixin flexCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}

.HealthContainer {
  width: inherit;

  &-filter {
    @include flexCenter();
    justify-content: space-around;
    width: inherit;
    margin-bottom: 5rem;
  }

  &-runtime {
    @include flexCenter();
  }

  &-icon {
    font-size: 3rem;
  }

  &-work {
    font-size: 2rem;
  }

  &-month {
    background-color: none;
    border: none;
    font-size: 1.8rem;
    font-family: "dalmoori";
  }

  &-none {
    @include flexCenter();
    font-size: 2rem;
  }
}
