@import url("https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap");

@font-face {
  font-family: "dalmoori";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/dalmoori.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 249, 240);
  font-family: "dalmoori";
  font-size: 20px;
}

.App {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 50px;
}

* {
  margin: 0;
  padding: 0;
}

.App-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Zen Dots", cursive !important;
  font-size: 40px;
  margin-bottom: 30px;
}
